<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Badan Perencanaan Pembangunan Daerah bolaang mongondow</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
   <!-- Google Fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  
    <link href="assets/css/style.css" rel="stylesheet">
  
  </head>
  
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
        <div class="logoheader d-flex align-items-center">
        <img src="assets/img/logobolmong.png" alt="">
        <h1 class="logo"><a href="index.html">BAPPEDA <br> bolaang mongondow</a></h1>
      </div>
  
        <nav class="nav-menu d-none d-lg-block">
  
          <ul>
            <li><a href="index.html">Beranda</a></li>
  
            <li class="drop-down"><a href="#">Profil</a>
              <ul>
                <li><a href="tugasfungsi.html">Tugas dan Fungsi</a></li>
                <li><a href="sambutan.html">Sambutan Kepala Dinas</a></li>
                <li><a href="visimisi.html">Visi & Misi</a></li>
                <li><a href="struktur.html">Struktur Organisasi</a></li>
              </ul>
            </li>
  
            <li><a href="berita.html">Berita</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li class="drop-down"><a href="#">Unit Kerja</a>
              <ul>
                <li><a href="kepalabadan.html">Kepala Badan</a></li>
                <li><a href="sekretariat.html">Sekretariat BAPPEDA</a></li>
                <li><a href="bidanginfrastruktur.html">Bidang Infrastruktur dan Pengembangan Wilayah</a></li>
                <li><a href="bidangekonomi.html">Bidang Ekonomi</a></li>
                <li><a href="bidangsosial.html">Bidang Sosial Budaya dan Pemerintahan</a></li>
                <li><a href="bidangperencanaan.html">Bidang Perencanaan, Pengendalian dan Evaluasi</a></li>
              </ul>
            </li>
            <li><a href="https://ppid.bolmongkab.go.id">PPID</a></li>
            <li><a href="galeri.html">Dokumentasi</a></li>
            <li><a href="kontak.html">Kontak</a></li>
  
          </ul>
  
        </nav><!-- .nav-menu -->
  
      </div>
    </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sekretariat</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Sekretariat</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Skeretariat Section ======= -->
    <section id="about" class="about">
      <div class="container">

            <h3>SEKRETARIAT</h3>
            <p>
              (1)  Sekretariat mempunyai tugas memimpin, mengkoordinasikan dan mengendalikan tugas-tugas dibidang pengelolaan, pelayanan kesekretariatan yang meliputi pengkoordinasian, perencanaan, penyusunan program dan anggaran, pengelolaan keuangan, perlengkapan dan Umum dan Kepegawaian; <br><br>
 
              (2)  Sekretariat dalam melaksanakan tugas pokok sebagaimana dimaksud pada ayat (1) menyelenggarakan fungsi :<br>
              a.    Penyusunan rencana, program, evaluasi dan pelaporan;<br>
              b.   Pelaksanaan administrasi kepegawaian dan rumah tangga Badan;<br>
              
              c.    melaksanakan administrasi keuangan dan perlengkapan serta penataan aset;<br>
              
              d.    melaksanakan urusan surat menyurat, kearsipan dan dokumentasi dan hubungan masyarakat;<br>
              
              e.    melaksanakan urusan Hukum, organisasi dan hubungan masyarakat;<br>
              
              f.     melaksanakan pengkoordinasian penyelenggaraan tugas-tugas Bidang; dan<br>
              
              g.    pelaksanaan tugas–tugas lain yang diberikan oleh Kepala.<br><br>
              
              (3)   Susunan Organisasi Sekretariat, terdiri dari :<br>
              a.    Sub Bagian Penyusunan Program;<br>
              
              b.   Sub Bagian Umum dan Kepegawaian; dan<br>
              
              c.    Sub Bagian Keuangan dan Perlengkapan.<br><br>
              
              
              
              
              (1)  Sub Bagian Penyusunan Program mempunyai tugas menyiapkan bahan-bahan bimbingan, kebijakan, pedoman, dan petunjuk teknis serta layanan di bidang Penyusunan Program sesuai dengan ketentuan yang berlaku;<br><br>
              
              (2)  Uraian Tugas tersebut pada ayat (1) sebagai berikut:<br>
              a.    merencanakan kegiatan Sub Bagian Penyusunan Program  berdasarkan data kegiatan tahun sebelumnya dan sumber data yang ada sebagai bahan untuk melaksanakan kegiatan sesuai dengan peraturan perundang-undangan yang telah ditetapkan;<br>
              
              b.   menghimpun dan mempelajari peraturan perundang-undangan kebijakan teknis, pedoman dan petunjuk teknis serta bahan-bahan lainnya yang berhubungan dengan tugas Sub Bagian Penyusunan Program ;<br>
              
              c.    mencari, mengumpulkan, menghimpun, mensistematisasikan, dan mengolah data serta menganalisa data dan informasi yang berhubungan dengan tugas Sub Bagian Penyusunan Program sebagai kerangka acuan/pedoman penyusunan program dan anggaran kegiatan;<br>
              
              d.   menginventarisir permasalahan-permasalahan yang berhubungan dengan tugas Sub Bagian Penyusunan Program serta menyiapkan bahan-bahan dalam rangka pemecahan masalah;<br>
              
              e.    menyiapkan bahan penyusunan  kebijaksanaan, pedoman dan petunjuk teknis di sub bagian Penyusunan Program;<br>
              
              f.     melakukan koordinasi dan sinkronisasi kegiatan dengan Bidang lingkup Badan;<br>
              
              g.    mengkoordinir penyusunan dan pembuatan Rencana Kerja Tahunan/RKT Dinas, Arah Kebijakan Umum (AKU), Rencana Kerja Perangkat Daerah (RENJA PD) dan Laporan Pertanggung Jawaban (LPJ), serta Laporan Akuntabilitas Kinerja Instansi Pemerintah (LAKIP);<br>
              
              h.   melakukan koordinasi dan konsultasi dengan intansi terkait dalam rangka peningkatan pengelolaan urusan penyusunan program, perencanaan dan anggaran;<br>
              
              i.     melakukan koordinasi dan sinkronisasi kegiatan antara aparatur dan publik untuk menghindari terjadinya duplikasi kegiatan;<br>
              
              j.     menghimpun dan menyiapkan RKA  serta mengkoordinir proses pembahasan dengan instansi terkait sampai menjadi DPA;<br>
              
              k.   menyusun kelengkapan administrasi, guna melaksanakan kegiatan Tahunan berupa petunjuk operasional, penunjukan pejabat pelaksana teknis kegiatan dan dokumen kontrak dan menyiapkan revisi (perubahan)DPA;<br>
              
              l.     mengupayakan Anggaran Pendapatan Belanja Daerah perubahan (APBDP) guna menampung usulan program pembangunan yang mendesak yang tidak direncanakan sebelumnya; <br>
              
              m.  memberikan saran dan pertimbangan kepada Sekretaris tentang langkah-langkah atau tindakan yang perlu diambil dibidang tugasnya;<br>
              
              n.   membuat laporan melaksanakan kegiatan Sub Bagian Penyusunan Program sesuai dengan data yang ada berdasarkan kegiatan yang telah dilakukan untuk dipergunakan sebagai bahan masukan bagi atasan; dan<br>
              
              o.    melaksanakan tugas lain yang diberikan oleh Sekretaris baik secara tertulis maupun lisan sesuai dengan bidang tugasnya dalam rangka kelancaran melaksanakan tugas pada Sekretariat.<br><br>
              
              
              
              (1)  Sub Bagian Umum dan Kepegawaian mempunyai tugas menyiapkan bahan-bahan bimbingan, kebijakan, pedoman, dan petunjuk teknis serta layanan dibidang Umum dan Kepegawaian sesuai dengan ketentuan yang berlaku; <br>
              
              (2)  Uraian Tugas tersebut pada ayat (1) sebagai berikut:
              a.    merencanakan kegiatan Sub Bagian Umum dan Kepegawaian  berdasarkan data kegiatan tahun sebelumnya dan sumber data yang ada sebagai bahan untuk melaksanakan kegiatan sesuai dengan peraturan perundang-undangan yang telah ditetapkan;<br>
              
              b.   menghimpun dan mempelajari peraturan perundang-undangan kebijakan teknis, pedoman dan petunjuk teknis serta bahan-bahan lainnya yang berhubungan dengan tugas Sub Bagian Umum dan Kepegawaian;<br>
              
              c.     mencari, mengumpulkan, menghimpun, mensistematisasikan dan mengolah data serta menganalisa data dan informasi yang berhubungan dengan tugas Sub Bagian Umum dan Kepegawaian sebagi kerangka acuan/pedoman penyusunan rencana kegiatan;<br>
              
              d.   menginventarisir permasalahan-permasalahan yang berhubungan dengan tugas Sub Bagian Umum dan Kepegawaian serta menyiapkan bahan-bahan dalam rangka pemecahan masalah;<br>
              
              e.    mengarahkan dan mendistribusikan surat masuk dan keluar sesuai dengan kepentingan dan permasalahannya;<br>
              
              f.     meneliti usulan permintaan formasi pegawai lingkup Badan, dan menyiapkan konsep petunjuk penyusunan formasi pegawai pegawai sebagai perencanaan kebutuhan pegawai sesuai dengan kebutuhan Badan;<br>
              
              g.    mengatur urusan rumah tangga Badan, menata keindahan dan kebersihan kantor, serta keamanan lingkungan kantor;<br>
              
              h.   melakukan pengelolaan perpustakaan, kearsipan Badan dan melakukan pendokumentasian kegiatan Badan;<br>
              
              i.     melakukan tugas di bidang hukum, organisasi dan tatalaksana serta hubungan masyarakat;<br>
              
              j.     memberikan saran dan pertimbangan kepada Sekretaris tentang langkah-langkah atau tindakan yang perlu diambil di bidang tugasnya;<br>
              
              k.   membuat laporan melaksanakan kegiatan Sub Bagian Umum dan Kepegawaian  sesuai dengan data yang ada berdasarkan kegiatan yang telah dilakukan untuk dipergunakan sebagai bahan masukan bagi atasan;<br>
              
              l.     dan melaksanakan tugas lain yang diberikan oleh Sekretaris baik secara tertulis maupun lisan sesuai dengan bidang tugasnya dalam rangka kelancaran melaksanakan tugas pada Sekretariat.<br><br>
              
                                                        
              (1)  Sub Bagian Keuangan dan Perlengkapan mempunyai tugas menyiapkan bahan-bahan bimbingan, kebijakan, pedoman, dan petunjuk teknis serta layanan dibidang Keuangan dan Perlengkapan sesuai dengan ketentuan yang berlaku;<br>
              
              (2)   Uraian Tugas tersebut pada ayat (1) sebagai berikut:
              a.    merencanakan kegiatan Sub Bagian Keuangan dan Perlengkapan berdasarkan data kegiatan tahun sebelumnya dan sumber data yang ada sebagai bahan untuk melaksanakan kegiatan sesuai dengan peraturan perundang-undangan yang telah ditetapkan;<br>
              
              b.   menghimpun dan mempelajari peraturan perundang-undangan kebijakan teknis, pedoman dan petunjuk teknis serta bahan-bahan lainnya yang berhubungan dengan tugas Sub Bagian Keuangan dan Perlengkapan;<br>
              
              c.    mencari, mengumpulkan, menghimpun, mensistematisasikan dan mengolah data serta menganalisa data dan informasi yang berhubungan dengan tugas Sub Bagian Keuangan dan Perlengkapan sebagai kerangka acuan/pedoman penyusunan rencana kegiatan;<br>
              
              d.   menginventarisir permasalahan-permasalahan yang berhubungan dengan tugas Sub Bagian Keuangan dan Perlengkapan serta menyiapkan bahan-bahan dalam rangka pemecahan masalah;<br>
              
              e.    mengusulkan kepada Sekretaris tentang penunjukan bendahara pengeluaran, pembantu bendahara pengeluaran, penyimpan barang, pengurus barang dan pembantu pengurus barang;<br>
              
              f.      melakukan pengawasan, pengendalian dan mengevaluasi terhadap kinerja bendahara pengeluaran, pembantu bendahara pengeluaran penyimpan barang, pengurus barang dan pembantu pengurus barang;<br>
            </p>

      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <section id="footer" className="text-center">


    <div className="container">
      <div className="row">
        <div className="col-md-12 col-sm-6 col-xs-12">
          <p>Dinas Perencanaan Pembangunan Daerah Kabupaten Bolaang Mongondow</p>
          <p className="copyright-text">Copyright &copy; 2021 by  <a href="#"> E-Government</a> Diskominfo Bolmong</p>
        </div>
      </div>
    </div>
    
  </section>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>